<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://soft.vub.ac.be/simplegt/2011/SimpleGT"
            class="be.ac.vub.simplegt.SimplegtPackage"
            genModel="model/simplegt.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.dynamic_package">
      <resource
            location="model/problem.ecore"
            uri="http://soft.vub.ac.be/simplegt/2011/Problem">
      </resource>
   </extension>

</plugin>
